* {
    background-color: #f8f8f8;
}

.detailcard {
    display: flex;
    justify-content: space-between;
}

.detailcard_box {
    width: 45%;
}

.reservationcard {
    width: 42%;
}

.detailimg {
    width: 100%;
    height: 350px;
}

.card {
    display: block;
}


.titlebox {
    display: flex;
    height: 35px;
}

.backbtn {
    width: 25px;
    height: 20px;
    background-color: white;
    border: none;
    font-size: 16px;
    box-shadow: 2px 2px 4px #918585;
}

.store {
    margin-top: -2px;
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
}

.reservationcard {
    color: white;
    background-color: rgb(62, 62, 255);
    border-radius: 1% 1% 1% 1%;
}

.storedetail {
    display: flex;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 20px;
}

.reservationcard_title {
    font-size: 26px;
    margin-left: 25px;
    background-color: rgb(62, 62, 255);
}

.reservationcard_form {
    background-color: rgb(62, 62, 255);
}

.cardlist {
    list-style: none;
    background-color: rgb(62, 62, 255);
}

.cardlist_form {
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.cardlist_select {
    width: 94%;
}

.cardlist_input {
    width: 50%;
}

.cardlistli {
    background-color: rgb(62, 62, 255);
}

.reservationdetail {
    background-color: #457dff;
    margin: 6%;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.detailtitle {
    width: 125px;
    text-align: justify;
    padding-left: 22px;
    padding-bottom: 10px;
    background-color: #457dff;
}

.detailitem {
    background-color: #457dff;
}

.reservationbtn {
    width: 100%;
    height: 100px;
    border: none;
    background-color: blue;
    color: white;
    margin-top: 25%;
    border-radius: 0% 0% 7% 7%;
    font-size: 19px;
}

.reservationtable {
    background-color: #457dff;
}

.error {
    color: #ff2700;
    font-size: 20px;
    background-color: rgb(62, 62, 255);
}

.error_content {
    list-style: none;
    margin-left: 40px;
}

.errortitle {
    background-color: rgb(62, 62, 255);
}


.reviewtitle {
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #457dff;
    margin-top: 50px;
    color: white;
    border-radius: 2% 2% 2% 2%;
}


.reviewcard {
    background-color: rgb(62, 62, 255);
    border-radius: 2% 2% 2% 2%;
    padding: 10px;
}

.reviewwrite {
    color: white;
    background-color: rgb(62, 62, 255);
}

.reviewcomment {
    width: 93%;
    border-radius: 2% 2% 2% 2%;
}

.reviewcardform {
    background-color: rgb(62, 62, 255);
}

.comment {
    background-color: rgb(62, 62, 255);
}

.reviewerror {
    color: tomato;
    text-align: center;
}

.cardlist_star {
    width: 40%;
    height: 40px;
    border-radius: 2% 2% 2% 2%;
}

.reviewbtnbox {
    text-align: center;
    background-color: rgb(62, 62, 255);
}

.sendbtn {
    background: #457dff;
    color: white;
    border: none;
}

.reviewname {
    display: flex;
}

.review {
    background-color: aliceblue;
    margin-top: 15px;
    border-radius: 2% 2% 2% 2%;
    padding: 10px;
}

.userreview_inp {
    display: flex;
    width: 100%;
    height: 70px;
}

.userreview_btn {
    color: white;
    border: none;
    border-radius: 20% 20% 20% 20%;
    margin-right: 10px;
}

.updatebtn {
    background-color: blue;
}

.deletebtn {
    background-color: tomato;
}

.reviewname_text {
    display: flex;
    margin-right: 10px;
}

@media screen and (max-width:1400px) {
    .imagebox {
        display: flex;
    }

    .detailcard {
        display: block;
    }

    .detailcard_box {
        width: 100%;
    }

    .store {
        margin-top: -2px;
        margin-left: 21px;
        font-size: 25px;
        font-weight: bold;
    }

    .explanation {
        margin-left: 35px;
        font-size: 20px;
    }

    .storedetail {
        display: flex;
        margin-top: 20px;
        margin-bottom: 22px;
        font-size: 24px;
    }

    .genre {
        margin-left: 25px;
    }

    .reservationcard {
        color: white;
        background-color: rgb(62, 62, 255);
        width: 100%;
        border-radius: 1% 1% 1% 1%;
    }

    .reservationdetail {
        background-color: #457dff;
        margin: 2%;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .reservationcard {
        color: white;
        background-color: rgb(62, 62, 255);
        width: 100%;
        border-radius: 1% 1% 1% 1%;
        height: 570px;
    }

    .reservationbtn {
        width: 100%;
        height: 100px;
        border: none;
        background-color: rgb(62, 62, 255);
        color: white;
        margin-top: 6%;
        border-radius: 0% 0% 7% 7%;
        font-size: 25px;
    }

    .reservationcard_title {
        font-size: 30px;
        margin-left: 25px;
    }

    .detailimg {
        width: 50%;
        height: 350px;
    }

}

@media screen and (max-width:960px) {
    .imagebox {
        display: block;
    }

    .appmain {
        margin: 1% 1%;
    }

    .detailimg {
        width: 50%;
        height: 50%;
        margin-left: 26%;
    }

    .explanation {
        margin-left: 60px;
        font-size: 20px;
        margin-right: 60px;
    }

    .reservationcard {
        color: white;
        background-color: rgb(62, 62, 255);
        width: 85%;
        border-radius: 1% 1% 1% 1%;
        height: 570px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width:430px) {
    .reviewname {
        display: block;
    }
}