.detailcard {
    display: flex;
    justify-content: space-between;
}

.detailimg {
    width: 80%;
    height: 384px;
}

.explanacard {
    width: 80%;
    font-size: 20px;
}

.card {
    display: block;
}


.titlebox {
    display: flex;
    height: 35px;
}

.backbtn {
    width: 25px;
    height: 20px;
    background-color: white;
    border: none;
    font-size: 16px;
    box-shadow: 2px 2px 4px #918585;
}

.store {
    margin-top: -2px;
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
}

.reservationcard {
    color: white;
    background-color: rgb(62, 62, 255);
    width: 100%;
    border-radius: 1% 1% 1% 1%;
}

.storedetail {
    display: flex;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 20px;
}

.reservationcard_title {
    font-size: 26px;
    margin-left: 25px;
}

.cardlist {
    margin-left: -11px;
    list-style: none;
}

.cardlist_form {
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.cardlist_select {
    width: 94%;
}

.cardlist_input {
    width: 50%;
}

.reservationdetail {
    background-color: #457dff;
    margin: 6%;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.detailtitle {
    width: 125px;
    text-align: justify;
    padding-left: 22px;
    padding-bottom: 10px;
}

.reservationbtn {
    width: 100%;
    height: 100px;
    border: none;
    background-color: blue;
    color: white;
    margin-top: 25%;
    border-radius: 0% 0% 7% 7%;
    font-size: 19px;
}

.error {
    color: #ff2700;
    font-size: 20px;
}

.error_content {
    list-style: none;
    margin-left: 40px;
}