.detailcard {
    display: flex;
    justify-content: space-between;
}

.detailcard_box {
    width: 45%;
}

.reservationcard {
    width: 42%;
}

.detailimg {
    width: 100%;
    height: 350px;
}

.explanacard {
    /* width: 80%;
    font-size: 20px; */
}

.card {
    display: block;
}


.titlebox {
    display: flex;
    height: 35px;
}

.backbtn {
    width: 25px;
    height: 20px;
    background-color: white;
    border: none;
    font-size: 16px;
    box-shadow: 2px 2px 4px #918585;
}

.store {
    margin-top: -2px;
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
}

.reservationcard {
    color: white;
    background-color: rgb(62, 62, 255);
    /* width: 100%; */
    border-radius: 1% 1% 1% 1%;
}

.storedetail {
    display: flex;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 20px;
}

.reservationcard_title {
    font-size: 26px;
    margin-left: 25px;
}

.cardlist {
    margin-left: -11px;
    list-style: none;
}

.cardlist_form {
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.cardlist_select {
    width: 94%;
}

.cardlist_input {
    width: 50%;
}

.reservationdetail {
    background-color: #457dff;
    margin: 6%;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.detailtitle {
    width: 125px;
    text-align: justify;
    padding-left: 22px;
    padding-bottom: 10px;
}

.reservationbtn {
    width: 100%;
    height: 100px;
    border: none;
    background-color: blue;
    color: white;
    margin-top: 25%;
    border-radius: 0% 0% 7% 7%;
    font-size: 19px;
}

.error {
    color: #ff2700;
    font-size: 20px;
}

.error_content {
    list-style: none;
    margin-left: 40px;
}


.reviewtitle {
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #457dff;
    margin-top: 50px;
    color: white;
    border-radius: 2% 2% 2% 2%;
}

.reviewtitle:before {
    position: absolute;
    top: -17px;
    left: -17px;
    width: 100%;
    height: 100%;
    content: '';
    border: 2px solid #7d6aa9;
}

.reviewcard {
    background-color: rgb(62, 62, 255);
    border-radius: 2% 2% 2% 2%;
    padding: 10px;
}

.reviewwrite {
    color: white;
}

.reviewcomment {
    width: 93%;
    border-radius: 2% 2% 2% 2%;
}

.reviewerror {
    color: tomato;
    text-align: center;
}

.cardlist_star {
    width: 40%;
    height: 40px;
    border-radius: 2% 2% 2% 2%;
}

.reviewbtnbox {
    text-align: center;
}

.sendbtn {
    background: #457dff;
    color: white;
    border: 1px solid #ffffff;
}

.reviewname {
    display: flex;
}

.review {
    background-color: aliceblue;
    margin-top: 15px;
    border-radius: 2% 2% 2% 2%;
    padding: 10px;
}

.userreview {
    /* display: flex; */
}

.userreview_inp {
    display: flex;
        width: 100%;
        height: 70px;
}

.userreview_btn {
    color: white;
    border: none;
    border-radius: 20% 20% 20% 20%;
    margin-right: 10px;
}

.updatebtn {
    background-color: blue;
}

.deletebtn {
    background-color: tomato;
}