.thankscard {
    padding: 76px;
    padding-bottom: 130px;
}


.tanks {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}



.thanksbackbtn {
    text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 37px;
        margin: 10px;
        padding-top: 10px;
}

