.thankscard {
    padding: 76px;
    padding-bottom: 130px;
    background-color: white;
}

.tanks {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.thanksbackbtn {
    text-decoration: none;
    background-color: rgb(62, 62, 255);
    color: white;
    border-radius: 15px;
    display: block;
    text-align: center;
    height: 37px;
    margin: 10px;
    padding-top: 10px;
}

@media screen and (max-width:1723px) {
    .card {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: 5% 15%;
    }

    .thanksbackbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 37px;
        margin: 10%;
        padding-top: 10px;
    }
}

@media screen and (max-width:1335px) {
    .card {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: 5% 20%;
    }
}

@media screen and (max-width:768px) {
    .tanks {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .thanksbackbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 37px;
        margin: 10%;
        padding-top: 10px;
    }
}

@media screen and (max-width:678px) {
    .card {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: -4%;
    }
}

@media screen and (max-width:438px) {
    .tanks {
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }

    .thanksbackbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 19px;
        margin: 25%;
        padding-top: 3px;
        font-size: 11px;
    }
}