* {
    background-color: #f8f8f8;
}

.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__panel {
    margin: 0 auto;
    width: 70%;
}

.attendance__button {
    width: 100%;
    text-align: center;
}

.attendance__button-submit {
    padding: 5px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-bottom: 1px solid #ddd;
}

.attendance-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.attendance-table__item {
    padding: 12px;
    width: 20%;
}



.indexform {
    display: flex;
}

.indexform_img {
    position: relative;
    display: flex;
    background-color: #ffffff;
}

.indexform_inp {
    padding-left: 30px;
    background: url('/img/magnifying-glass.png') no-repeat left center;
    background-size: 20px 20px;
}




.card {
    width: 300px;
    height: 280px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    text-align: center;
    margin: 1%;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.card__imgframe {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-sizing: border-box;
}

.cardtag {
    display: flex;
    background-color: #ffffff;
}

.cardbtn {
    display: flex;
    background-color: #ffffff;
}

.cardimg {
    width: 100%;
    height: 160px;
}

.card__textbox {
    width: 100%;
    height: auto;
    padding: 0px 18px;
    background: #fff;
    box-sizing: border-box;
}

.card__textbox>*+* {
    margin-top: 10px;
}

.card__titletext {
    font-size: 20px;
    font-weight: bold;
    line-height: 0%;
}

.card__overviewtext {
    font-size: 13px;
    line-height: 150%;
}


.storename {
    text-align: left;
}

.linkbtn {
    text-decoration: none;
    background-color: rgb(62, 62, 255);
    color: white;
    width: 36%;
    height: 20px;
    margin-right: 40%;
    padding: 5px;
    margin-top: 7px;
    border-radius: 5px 5px 5px 5px;
}


/* ハートボタン */
.heart {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
}





.hartbtn {
    border: none;
    background: transparent;
    background-color: #ffffff;
}


.tag {
    margin-right: 9px;
    background-color: #ffffff;
}


.serachbox {
    display: flex;
    border: solid 1px #f7f7f7;
    box-shadow: 2px 4px 3px #bdbdbd;
    height: 37px;
    border-radius: 2% 2% 2% 2%;
    margin-top: -6%;
    margin-left: 64%;
}

.region {
    border: none;
    height: 100%;
    background-color: #ffffff;
    border-radius: 2% 2% 2% 2%;
    padding-right: 34px;
    position: relative;
    display: inline-block;
    padding-left: 7%;
}

.select-container::before,
.select-container::after {
    content: '';
    position: absolute;
    top: 10%;
    height: 80%;
    width: 0.5px;
    background-color: #e1e1e1;
}

.select-container::before {
    left: 5px;
    /* 左側の線の位置を調整 */
}

.select-container::after {
    right: 5px;
    /* 右側の線の位置を調整 */
}

.genre {
    border: none;
    height: 100%;
    /* border-left: solid 1px #adadac;
    border-right: solid 1px #adadac; */
    background-color: #ffffff;
    position: relative;
}

.indexform_inp {
    border: none;
    height: 95%;
    width: 245px;
    background-color: #ffffff;
    border-radius: 2% 2% 2% 2%;
    margin-left: 3%;
}

.serachbox_btn {
    border: none;
}

.hamburger-menu {
    /* margin-left: 23%; */
}

.select-container {
    position: relative;
    display: inline-block;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    /* 矢印のスペースを確保 */
    background-color: #fff;
    /* 背景色 */
    border: 1px solid #ccc;
    position: relative;
    /* 矢印の位置調整用 */
}

.arrow {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    height: 10px;
    background: url('/img/arrow.png') no-repeat;
    background-size: 16px 10px;
    transform: translateY(-50%) rotate(180deg);
    /* 180度回転 */
    pointer-events: none;
    /* 矢印がクリックを邪魔しないように */
}


@media screen and (max-width:1500px) {
    .card {
        width: 250px;
        height: 250px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin: 1%;
        padding-bottom: 20px;
    }

    .storename {
        text-align: left;
        font-size: 15px;
    }

    .cardtag {
        display: flex;
        margin: -14px;
        margin-left: 0px;
    }
}

@media screen and (max-width:1243px) {
    .cards {
        display: grid;
        gap: 1rem .5rem;
        grid-template-columns: repeat(auto-fit, minmax(209px, 1fr));
    }
}

@media screen and (max-width:1090px) {
    .cards {
        display: grid;
        gap: 1rem .5rem;
        grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    }

    .serachbox {
        display: flex;
        border: solid 1px #f7f7f7;
        box-shadow: 2px 4px 3px #bdbdbd;
        height: 30px;
        border-radius: 2% 2% 2% 2%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:730px) {

    .appmain {
        margin: 1% 5%;
    }

    .serachbox {
        display: flex;
        border: solid 1px #f7f7f7;
        box-shadow: 2px 4px 3px #bdbdbd;
        height: 30px;
        border-radius: 2% 2% 2% 2%;
        margin-bottom: 15px;
    }

    .card {
        width: 249px;
        height: 265px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin: 1%;
        padding-bottom: 20px;
    }

    .cardimg {
        width: 100%;
        height: 163px;
    }

    .storename {
        text-align: left;
        font-size: 20px;
    }

    .cardtag {
        display: flex;
        margin: -14px;
        margin-left: 0px;
        font-size: 17px;
    }

    .indexform_inp {
        border: none;
        height: 95%;
        width: 100px;
    }

}