.reservation {
    background-color: #5353fd;
    margin: 30px 30px;
}

.textcoler {
    color: white;
    font-size: 15px;
}

.usertag {
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.section-container {
    width: 50%;
    height: 10%;
    display: grid;
    gap: 1rem .5rem;
    grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
}

.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__panel {
    margin: 0 auto;
    width: 70%;
}

.attendance__button {
    width: 100%;
    text-align: center;
}

.attendance__button-submit {
    padding: 5px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.attendance-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-bottom: 1px solid #ddd;
}

.attendance-table__header {
    padding: 12px;
    width: 20%;
    font-weight: bold;
}

.attendance-table__item {
    padding: 12px;
    width: 20%;
}





.texttag {
    margin-right: 223px;
    margin-top: 3px;
    color: white;
    font-size: 18px;
}

.titletag {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 35%;
}


.returnbtn {
    background-color: #5353fd;
    border: none;
}

.spanbtn {
    background-color: #5353fd;
}

.clock {
    background-color: white;
    border-radius: 50px 50px 50px 50px;
    width: 35px;
    height: 35px;
}

.aicontag {
    display: flex;
    justify-content: space-between;
}





.iconcarda {
    width: 500px;
    /* height: 470px; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    text-align: center;
    margin: 1%;
    padding-bottom: 20px;
    background-color: #5353fd;
}





.card {
    width: 300px;
    height: 280px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    text-align: center;
    margin: 1%;
    padding-bottom: 20px;
}

.card__imgframe {
    width: 100%;
    height: auto;
    /* padding-top: 56.25%; */
    /* background: #bbb; */
    box-sizing: border-box;
}

.cardtag {
    display: flex;
}

.cardbtn {
    display: flex;
}

.cardimg {
    width: 100%;
    height: 160px;
}

.card__textbox {
    width: 100%;
    height: auto;
    padding: 0px 18px;
    background: #fff;
    box-sizing: border-box;
}

.card__textbox>*+* {
    margin-top: 10px;
}

.card__titletext {
    font-size: 20px;
    font-weight: bold;
    line-height: 0%;
}

.card__overviewtext {
    font-size: 13px;
    line-height: 150%;
}

/* .appmain {
    display: flex;
} */

.storename {
    text-align: left;
}

.linkbtn {
    text-decoration: none;
    background-color: rgb(62, 62, 255);
    color: white;
    width: 100%;
    height: 20px;
    padding: 5px;
    margin-top: 7px;
    margin-right: 50%;
    border-radius: 5px 5px 5px 5px;
}


/* ハートボタン */
.heart {
    width: 35px;
    /* 正方形を作る */
    height: 35px;
    /* 正方形を作る */
}





.hartbtn {
    border: none;
    background: transparent;
}


.tag {
    margin-right: 9px;
}







.payment-section {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}






.tables-container table {
    border-collapse: collapse;
    width: 100%;
}



.paybtn {
    color: blue;
    padding: 12px;
}




/* モーダルウィンドウのスタイル */
.modal {
    display: none;
    /* 初期状態で非表示 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* 黒い背景 */
    background-color: rgba(0, 0, 0, 0.8);
    /* 半透明の黒 */
}

/* モーダルウィンドウ内の画像 */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    /* モーダル内で画像を適切に表示 */
    max-width: 700px;
    /* 最大幅 */
}

/* 閉じるボタン */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* キャプションのスタイル */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

@media screen and (min-width:1500px) {
    .tables-container {
        display: flex;
        gap: 20px;
    }

    .tabletag {
        width: 110px;
        text-align: left;
    }

    .tables-container th,
    .tables-container td {
        padding: 8px;
        text-align: left;
    }
}


@media screen and (max-width:1500px) {
    .titletag {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 29%;
    }

    .iconcarda {
        width: 400px;
        height: 445px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin: 1%;
        background-color: #5353fd;
    }

    .card {
        width: 260px;
        height: 250px;
        /* border-radius: 8px; */
        /* overflow: hidden; */
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin: 1%;
        padding-bottom: 20px;
    }

    .storename {
        text-align: left;
        font-size: 15px;
    }

    .cardtag {
        display: flex;
        margin: -12px;
        margin-left: 1px;
    }

    .card__overviewtext {
        font-size: 11px;
        line-height: 150%;
    }

    .tables-container th,
    .tables-container td {
        text-align: left;
        margin: -10px;
    }

    .texttag {
        margin-right: 145px;
        margin-top: 3px;
        color: white;
        font-size: 18px;
    }

    .payment-section {
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    .iconcarda {
        width: 335px;
        height: 468px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin: 1%;
        background-color: #5353fd;
    }

    .titletag {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 26%;
    }

    .texttag {
        margin-right: 93px;
        margin-top: 3px;
        color: white;
        font-size: 18px;
    }
}

@media screen and (max-width:1020px) {
    .texttag {
        margin-right: 32px;
        margin-top: 3px;
        color: white;
        font-size: 17px;
    }

    .tables-container table {
        border-collapse: collapse;
        width: 86%;
    }

    .iconcarda {
        width: 280px;
        height: 468px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin: 1%;
        background-color: #5353fd;
    }
}

@media screen and (max-width:768px) {
    .tables-container table {
        border-collapse: collapse;
        width: 75%;
    }

    .textcoler {
        color: white;
        font-size: 12px;
    }

    .paybtn {
        color: blue;
        padding: 12px;
        font-size: 12px;
    }

    .iconcarda {
        width: 271px;
        height: 395px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        text-align: center;
        margin: 1%;
        background-color: #5353fd;
    }

    .clock {
        background-color: white;
        border-radius: 50px 50px 50px 50px;
        width: 25px;
        height: 25px;
    }

    .changeimg {
        width: 25px;
    }

    .heart {
        width: 25px;
        height: 25px;
    }

    .card {
        width: 215px;
        height: 196px;
        /* border-radius: 8px; */
        /* overflow: hidden; */
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        text-align: center;
        /* margin: 7%; */
        margin-left: 25px;
        padding-bottom: 20px;
    }

    .cardimg {
        width: 100%;
        height: 132px;
    }

    .storename {
        text-align: left;
        font-size: 13px;
    }

    .cardtag {
        display: flex;
        margin: -12px;
        margin-left: 1px;
        font-size: 10px;
    }

    .linkbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        width: 100%;
        height: 15px;
        padding: 5px;
        margin-top: 7px;
        margin-right: 50%;
        border-radius: 5px 5px 5px 5px;
        font-size: 8px;
    }

    .titletag {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 9%;
        font-size: 11px;
    }

    .usertag {
        text-align: center;
        font-size: 28px;
    }
}

@media screen and (max-width:650px) {
    .appmain {
        margin: 1% 5%;
    }

    .titletag {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10%;
        font-size: 11px;
    }
}

@media screen and (max-width:521px) {
    .appmain {
        margin: 1% 1%;
    }

    .titletag {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10%;
        font-size: 11px;
    }
}

@media screen and (max-width:484px) {
    .appmain {
        margin: 1% 1%;
    }

    .titletag {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: -9%;
        font-size: 11px;
    }

    .usertag {
        text-align: justify;
        margin-left: 10px;
        font-size: 25px;
    }
}

@media screen and (max-width:400px) {
    .appmain {
        margin: 1% -1%;
    }

    .titletag {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: -33%;
        font-size: 11px;
    }

    .usertag {
        text-align: justify;
        margin-left: 10px;
        font-size: 25px;
    }
}