.thankscard {
    padding: 76px;
    padding-bottom: 130px;
}


.tanks {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}



.thanksbackbtn {
    text-decoration: none;
    background-color: rgb(62, 62, 255);
    color: white;
    border-radius: 15px;
    display: block;
    text-align: center;
    height: 37px;
    margin: 10px;
    padding-top: 10px;
}

.card {
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    margin: -4%;
}

@media screen and (min-width:1024px) {
    .card {
        height: 221px;
        width: 60% px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: 10%;
    }

        .thanksbackbtn {
            text-decoration: none;
            background-color: rgb(62, 62, 255);
            color: white;
            border-radius: 15px;
            display: block;
            text-align: center;
            height: 37px;
            margin: 10px;
            padding-top: 10px;
            width: 182px;
            margin-left: 35%;
            margin-right: 50%;
        }
}

@media screen and (max-width:900px) {
    .card {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: -4%;
    }
}

@media screen and (max-width:438px) {
    .card {
        height: 115px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        margin: -4%;
        font-size: 10px;
    }

    .tanks {
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }

    .thanksbackbtn {
        text-decoration: none;
        background-color: rgb(62, 62, 255);
        color: white;
        border-radius: 15px;
        display: block;
        text-align: center;
        height: 26px;
        margin: 10px;
        padding-top: 10px;
    }
}